{% load static %}
{% include "header.html" %}
{% block content %}

<head>
    <!-- <style>
        .background {
            background-color: #f3f0fc;
        }
    </style> -->
</head>

<body>
    <div>
        <h1 class="text-6xl text-center font-semibold">CBSE</h1>
        <div>
            <div
                class="p-4 bg-[#FFD0D0] flex md:flex-row flex-col justify-center rounded-full w-full mx-auto text-center my-4 text-2xl text-black">
                <span class="my-auto mx-3">COPIES OF AFFILATION/UPGRADATION LETTER AND RECENT EXTENSION OF
                    AFFILATION</span>
                <button data-src="{% static 'icons/main.pdf' %}" class="openPdfButton bg-red-500 text-[#F9F9E0] rounded-full px-2 my-auto w-fit md:mx-3 mx-auto">View</button>
            </div>
            <div
                class="p-4 bg-[#F9F9E0] flex md:flex-row flex-col justify-center rounded-full w-full mx-auto text-center my-4 text-2xl text-black">
                <span class="my-auto mx-3">COPIES OF SOCIETY/TRUST/COMPANY REGISTRATION/RENEWAL CERTIFICATE</span>
                <a href="" class="bg-red-500 text-[#F9F9E0] rounded-full px-2 my-auto w-fit md:mx-3 mx-auto">View</a>
            </div>
            <div
                class="p-4 bg-[#FFD0D0] flex md:flex-row flex-col justify-center rounded-full w-full mx-auto text-center my-4 text-2xl text-black">
                <span class="my-auto mx-3">COPY OF NO OBJECTION CERTIFICATE (NOC) ISSUED</span>
                <a href="" class="bg-red-500 text-[#F9F9E0] rounded-full px-2 my-auto w-fit md:mx-3 mx-auto">View</a>
            </div>
            <div
                class="p-4 bg-[#F9F9E0] flex md:flex-row flex-col justify-center rounded-full w-full mx-auto text-center my-4 text-2xl text-black">
                <span class="my-auto mx-3">COPIES OF RECOGNITION CERTIFICATE UNDER RE ACT, 2009, AND IT'S RENEWAL</span>
                <a href="" class="bg-red-500 text-[#F9F9E0] rounded-full px-2 my-auto w-fit md:mx-3 mx-auto">View</a>
            </div>
            <div
                class="p-4 bg-[#FFD0D0] flex md:flex-row flex-col justify-center rounded-full w-full mx-auto text-center my-4 text-2xl text-black">
                <span class="my-auto mx-3">COPY OF VALID BUILDING SAFETY CERTIFICATE AS PER THE NATIONAL BUILDING
                    CODE</span>
                <a href="" class="bg-red-500 text-[#F9F9E0] rounded-full px-2 my-auto w-fit md:mx-3 mx-auto">View</a>
            </div>
            <div
                class="p-4 bg-[#F9F9E0] flex md:flex-row flex-col justify-center rounded-full w-full mx-auto text-center my-4 text-2xl text-black">
                <span class="my-auto mx-3">COPY OF VALID FIRE SAFETY CERTIFICATE ISSUED BY THE COMPETENT
                    AUTHORITY</span>
                <a href="" class="bg-red-500 text-[#F9F9E0] rounded-full px-2 my-auto w-fit md:mx-3 mx-auto">View</a>
            </div>
            <div
                class="p-4 bg-[#FFD0D0] flex md:flex-row flex-col justify-center rounded-full w-full mx-auto text-center my-4 text-2xl text-black">
                <span class="my-auto mx-3">COPY OF THE SELF CERTIFICATION SUBMITTED BY THE SCHOOL FOR
                    AFFILIATION / UPGRADATION / EXTENSION OF AFFILIATION</span>
                <a href="" class="bg-red-500 text-[#F9F9E0] rounded-full px-2 my-auto w-fit md:mx-3 mx-auto">View</a>
            </div>
            <div
                class="p-4 bg-[#F9F9E0] flex md:flex-row flex-col justify-center rounded-full w-full mx-auto text-center my-4 text-2xl text-black">
                <span class="my-auto mx-3">COPIES OF VALID WATER, HEALTH AND SANITATION CERTIFICATES</span>
                <a href="" class="bg-red-500 text-[#F9F9E0] rounded-full px-2 my-auto w-fit md:mx-3 mx-auto">View</a>
            </div>


            <div class="border-b-4 border-red-500 w-[95%] mx-auto rounded-full "></div>


            <div
                class="p-4 bg-[#FFD0D0] flex md:flex-row flex-col justify-center rounded-full w-full mx-auto text-center my-4 text-2xl text-black">
                <span class="my-auto mx-3">FEE STRUCTURE OF THE SCHOOL</span>
                <a href="" class="bg-red-500 text-[#F9F9E0] rounded-full px-2 my-auto w-fit md:mx-3 mx-auto">View</a>
            </div>
            <div
                class="p-4 bg-[#F9F9E0] flex md:flex-row flex-col justify-center rounded-full w-full mx-auto text-center my-4 text-2xl text-black">
                <span class="my-auto mx-3">ANNUAL ACADEMIC CALENDER</span>
                <a href="" class="bg-red-500 text-[#F9F9E0] rounded-full px-2 my-auto w-fit md:mx-3 mx-auto">View</a>
            </div>
            <div
                class="p-4 bg-[#FFD0D0] flex md:flex-row flex-col justify-center rounded-full w-full mx-auto text-center my-4 text-2xl text-black">
                <span class="my-auto mx-3">LIST OF SCHOOL MANAGEMENT COMMITTEE (SMC)</span>
                <a href="" class="bg-red-500 text-[#F9F9E0] rounded-full px-2 my-auto w-fit md:mx-3 mx-auto">View</a>
            </div>
            <div
                class="p-4 bg-[#F9F9E0] flex md:flex-row flex-col justify-center rounded-full w-full mx-auto text-center my-4 text-2xl text-black">
                <span class="my-auto mx-3"> LIST OF PARENTS TEACHERS ASSOCIATION (PTA) MEMBERS</span>
                <a href="" class="bg-red-500 text-[#F9F9E0] rounded-full px-2 my-auto w-fit md:mx-3 mx-auto">View</a>
            </div>
            <div
                class="p-4 bg-[#FFD0D0] flex md:flex-row flex-col justify-center rounded-full w-full mx-auto text-center my-4 text-2xl text-black">
                <span class="my-auto mx-3">LAST THREE-YEAR RESULT OF THE BOARD EXAMINATION AS PER APPLICABILITY</span>
                <a href="" class="bg-red-500 text-[#F9F9E0] rounded-full px-2 my-auto w-fit md:mx-3 mx-auto">View</a>
            </div>

        </div>
        <div id="pdfModal" class="modal hidden bg-black bg-opacity-75 inset-0 z-50 absolute items-center justify-center">
            <div class="modal-content bg-white h-screen w-full max-w-3xl mx-auto p-4 rounded-lg shadow-lg">
                <span class="close text-black text-3xl items-end cursor-pointer" onclick="closeModal()">&times;</span>
                <embed id="pdfEmbed" src="" type="application/pdf" class="w-full h-[95%] mb-4">
            </div>
        </div>
    </div>


        <!-- JavaScript section -->
        <script>
            // Get the modal
            var modal = document.getElementById("pdfModal");
    
            // Get all buttons that open PDFs
            var openPdfButtons = document.getElementsByClassName("openPdfButton");
    
            // Loop through all buttons and attach click event listeners
            for (var i = 0; i < openPdfButtons.length; i++) {
                openPdfButtons[i].onclick = function() {
                    var pdfSrc = this.getAttribute("data-src");
                    openModal(pdfSrc);
                };
            }
    
            // Function to open the modal with the specified PDF
            function openModal(src) {
                var pdfEmbed = document.getElementById("pdfEmbed");
                pdfEmbed.src = src;
                modal.style.display = "flex"; // Display as flex to center content
            }
    
            // Function to close the modal
            function closeModal() {
                var pdfEmbed = document.getElementById("pdfEmbed");
                pdfEmbed.src = ""; // Stop the PDF viewer
                modal.style.display = "none";
            }
        </script>
    
</body>



{% include "Footer.html" %}
{% endblock %}
