{% load static %}
{% include "header.html" %}
{% block content %}

<!-- Display Sessions -->
<div class="my-4">
    <h2 class="text-2xl font-bold mb-2">Sessions</h2>
    <ul>
        {% for session in sessions %}
            <li>{{ session.session_name }}</li>
        {% empty %}
            <li>No sessions available.</li>
        {% endfor %}
    </ul>
</div>

<!-- Display Classes -->
<div class="my-4">
    <h2 class="text-2xl font-bold mb-2">Classes</h2>
    <ul>
        {% for cls in classes %}
            <li>{{ cls.class_name }}  {{ cls.session.session_name }}</li>
        {% empty %}
            <li>No classes available.</li>
        {% endfor %}
    </ul>
</div>

{% include "Footer.html" %}
{% endblock %}
